:root {
    --body-bg: #fafafa;
    --body-color: #000000;
}

.dark-mode:root{
    --body-bg: #000;
    --body-color: #fff;
}
  
html {
    background-color: var(--body-bg);
    color: var(--body-color);
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#navbar ul{
    display: flex;
    position: inherit;
    justify-content: space-evenly;
    align-items: center;
    li:hover{
        font-size: 17px;
    }
}

#conteudo{
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    width: 80%;
    height: 80vh;
    left: 10%;
    overflow: scroll;
    scrollbar-width: none;

    h1{
        justify-content: center;
        display: flex;
    }

    span{
        width: 50%;
        display: flex;
        position: relative;
        left: 25%;
    }
}

.icons{
    display: flex;
    font-size: 30px;
    justify-content: center;
    i{
        padding-left: 20px;
    }

    i:hover{
        font-size: 35px;
    }
}

#contatos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
}

#imagens img{
    justify-content: center;
}
